[Unit]
Description=Farbsort-Websocket Server
After=farbsort-pinmux-and-pru.service
Requires=farbsort-pinmux-and-pru.service

[Service]
ExecStart=/usr/bin/python /root/farbsort-websocket/farbsort/server.py
PIDFile=/var/run/farbsort-websocket.pid

[Install]
WantedBy=multi-user.target
