[Unit]
Description=Farbsort-Websocket Server
After=network.target

[Service]
ExecStart=/usr/bin/python /root/farbsort-websocket/farbsort/server.py
PIDFile=/var/run/farbsort-websocket.pid

[Install]
WantedBy=multi-user.target
