[Unit]
Description=Farbsort-Websocket Server
After=network.target

[Service]
ExecStart=/usr/bin/python /root/farbsort-websocket/server.py
PIDFile=/root/farbsort-websocket/master.pid

[Install]
WantedBy=multi-user.target
